@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

:root {
    --blue-main: #02528E;
    --blue-hover: #01365d;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #f8f8fb;
    font-size: 14px;
    overflow-x: hidden;
}


a, a:hover, a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
}

div, p, h1, h2, h3, h4, h5, blockquote, span, img, video {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

input,
select,
textarea {
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
}

input:focus,
select:focus,
textarea:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.btn {
    outline: none !important;
    box-shadow: none !important;
}

.table-main .table-heading {
    padding: 10px 15px;
    background: #fff;
    box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
}

.table-main .table-heading .inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.table-main .table-heading .inner .title {
    margin-right: 50px;
}

.table-main .table-heading .inner .title h3 {
    font-size: 24px;
    color: var(--blue-main);
    font-weight: 700;
    margin-bottom: 0;
}

.table-main .inner .form-inline {
    margin-bottom: 0;
}

.table-main .inner .form-inline label {
    margin-right: 10px;
    font-size: 16px;
    color: #878787;
}

.table-main .inner .form-inline .form-control {
    max-width: 120px;
}

.table-main .inner .form-inline .form-control::placeholder {
    color: #878787;
}

.table-main .table-search {
    padding: 10px 15px;
}

.table-main .table-search .inner .form-inline .form-control {
    max-width: 100%;
}

.table-main .table-inner {
    padding: 0 15px 15px;
}

.table-main .table-inner .table-wrapper {
    background: #fff;
    box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
    position: relative;
    overflow: hidden;
}

.table-main .table-inner .table-wrapper .table {
    font-size: 14px;
    margin-bottom: 0;
}

.table-main .table-inner .table-wrapper .table .bg-primary {
    color: #fff;
}

.table-main .table-inner .table-wrapper .table {
    text-align: center;
}

input[type="date"],
input[type="datetime-local"] {
    position: relative;
    padding: 10px;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date-time"]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    z-index: 1;
}

input[type="date"]:before,
input[type="datetime-local"]:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
    content: "\f073";
    position: absolute;
    top: 10px;
    right: 10px;
}

@media screen and (max-width: 768px) {
    .table-main .table-heading .inner {
        flex-direction: column;
    }

    .table-main .inner .form-inline {
        margin-top: 20px;
    }

    .table-main .table-search .inner .form-inline {
        margin: 0 -5px;
        flex-wrap: wrap;
    }

    .table-main .table-search .inner .form-inline .form-group {
        padding: 0 5px;
        margin-bottom: 10px !important;
    }

    .table-main .table-inner .table-wrapper .table th,
    .table-main .table-inner .table-wrapper .table td {
        white-space: nowrap;
    }
}

@media screen and (max-width: 575px) {
    .table-main .table-search .inner .form-inline .form-group:nth-of-type(1),
    .table-main .table-search .inner .form-inline .form-group:nth-of-type(2) {
        width: 50%;
    }

    .table-main .table-search .inner .form-inline .form-group:nth-of-type(3),
    .table-main .table-search .inner .form-inline .form-group:nth-of-type(4) {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .table-main .table-search .inner .form-inline .form-group:nth-of-type(3) label,
    .table-main .table-search .inner .form-inline .form-group:nth-of-type(4) label {
        width: 30%;
        flex: none;
    }

    .table-main .table-search .inner .form-inline .form-button {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 374px) {
    .table-main .inner .form-inline .form-control {
        max-width: 80px;
    }
}

/* loading */

.table-loading {
    position: absolute;
    left: 50%;
    top: 44px;
    transform: translateX(-50%);
    width: 100%;
    background: rgb(255, 255, 255, 0.9);
    z-index: 3;
}

@media screen and (max-width: 768px) {
    .table-loading {
        top: 20px;
    }
}

.table-loading-bg {
    width: 64px;
    left: 50%;
    top: 30px;
    position: absolute;
    height: 32px;
    text-align: center;
    transform: translateX(-50%);
}

.table-loading-bg div {
    position: absolute;
    top: calc(50% - 4px);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #1790d4b0;
    -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.table-loading-bg div:nth-child(1) {
    left: 6px;
    -webkit-animation: table-loading1 0.6s infinite;
    animation: table-loading1 0.6s infinite;
}

.table-loading-bg div:nth-child(2) {
    left: 6px;
    -webkit-animation: table-loading2 0.6s infinite;
    animation: table-loading2 0.6s infinite;
}

.table-loading-bg div:nth-child(3) {
    left: 26px;
    -webkit-animation: table-loading2 0.6s infinite;
    animation: table-loading2 0.6s infinite;
}

.table-loading-bg div:nth-child(4) {
    left: 45px;
    -webkit-animation: table-loading3 0.6s infinite;
    animation: table-loading3 0.6s infinite;
}


@-webkit-keyframes table-loading1 {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes table-loading1 {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes table-loading3 {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes table-loading3 {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-webkit-keyframes table-loading2 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(19px, 0);
        transform: translate(19px, 0);
    }
}

@keyframes table-loading2 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(19px, 0);
        transform: translate(19px, 0);
    }
}

.login-main {
    position: relative;
    min-height: 100vh;
    background: #dbd6c7 url("../images/background-login.jpg") center center/cover no-repeat;
}

.login-main:before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    z-index: 1;
}

.login-wrapper {
    max-width: 375px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background: #fff;
    border: 0;
    box-shadow: 10px 10px 20px rgba(255, 255, 255, .12), -10px -10px 20px rgba(255, 255, 255, .12);
}

.login-header {
    border-radius: 0;
    border-bottom: 0;
    padding-top: 100px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.login-header:before,
.login-header:after {
    position: absolute;
    content: "";
    display: block;
}

.login-header:before {
    transform: rotate(160deg);
    top: -175px;
    left: -75px;
    width: 450px;
    height: 250px;
    background: var(--blue-hover);
    opacity: .8;
}

.login-header:after {
    transform: rotate(-155deg);
    top: -165px;
    right: -70px;
    width: 350px;
    height: 250px;
    background: var(--blue-main);
    opacity: .5;
}

.login-header img {
    max-width: 200px;
    display: block;
    margin: 0 auto;
}

.login-header h1 {
    font-size: 2em;
    font-weight: 700;
    margin-top: 10px;
    color: var(--blue-main);
}

.form-effect {
    position: relative;
    font-size: 14px;
    margin-top: 30px;
    padding: 0 15px 15px;
}

.form-effect .group-effect {
    position: relative;
    height: 44px;
    border-radius: 6px;
    width: 100%;
    margin-bottom: 20px;
}

.form-effect .group-effect .input-effect {
    height: 100%;
    width: 100%;
    background: #f1f1f1;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #1f2d3d;
    font-size: 1.1em;
    padding-left: 15px;
    margin-top: 0;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    border-radius: 6px;
    border: 1px solid transparent;
}

.form-effect .group-textarea.group-effect {
    min-height: 100px;
}

.form-effect .group-textarea.group-effect .input-effect {
    padding-top: 10px;
    resize: none;
}

.form-effect .group-effect .input-effect[type="password"] {
    padding-right: 30px;
}

.form-effect .viewPass-effect {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: 7px;
    color: #a9a9a9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.form-effect .group-effect .label-effect {
    position: absolute;
    left: 15px;
    bottom: 0;
    height: 100%;
    pointer-events: none;
    margin-bottom: 0;
    font-size: 1.1em;
    line-height: 44px;
    color: #454545;
    opacity: .8;
    -o-transition: 0.2s all ease-out;
    transition: 0.2s all ease-out;
    -webkit-transition: 0.2s all ease-out;
}

.form-effect .group-effect .label-effect i {
    line-height: 1;
    font-size: 0.9em;
    margin-right: 4px;
}

.form-effect .group-effect .input-effect option:checked,
.form-effect .group-effect .input-effect:focus,
.form-effect .group-effect .input-effect.valid {
    background: #fff;
    border-color: #e9e9e9;
}

.form-effect .group-effect .input-effect:focus + .label-effect,
.form-effect .group-effect .input-effect.valid + .label-effect {
    -webkit-transform: translateY(-35px);
    -ms-transform: translateY(-35px);
    transform: translateY(-35px);
    font-size: 1em;
    color: #a9a9a9;
    background: #fff;
    display: inline-block;
    opacity: 1;
    padding: 0 5px;
    height: 20px;
    line-height: 20px;
    left: 10px;
}

.form-effect .group-textarea.group-effect .input-effect:focus + .label-effect,
.form-effect .group-textarea.group-effect .input-effect.valid + .label-effect {
    -webkit-transform: translateY(-90px);
    -ms-transform: translateY(-90px);
    transform: translateY(-90px);
}

.form-effect .form-button {
    margin-top: 30px;
    text-align: left;
}

.form-effect .form-button .btn-primary {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-weight: 400;
    color: #fff;
    background-color: #2f6473;
    border-color: #2f6473;
    font-size: 1.05em;
    padding-left: 30px;
    padding-right: 30px;
}

.form-effect .form-button .btn-primary i {
    margin-left: 4px;
}

.form-effect .form-button .btn-primary:disabled {
    cursor: not-allowed;
    background-color: #5498ab;
    border-color: #5498ab;
}

.form-effect .form-button .btn-primary:hover {
    background-color: #143a45;
    border-color: #143a45;
}

@media screen and (max-width: 375px) {
    .login-wrapper {
        position: relative;
        top: unset;
        left: unset;
        transform: unset;
    }

    .login-main {
        background: #fff;
    }

    .login-main:before {
        display: none;
    }
}